node_modules/
build/
*.log
.env*
!.env.example
typescript/*
src/test-queries.ts
test-*
src/.DS_Store
.DS_Store
.clinerules*
tests/test_read.sh
.roam/2b3-custom-instructions.md
.roam/ias-custom-instructions.md
.cline*
CLAUDE.md
AGENT.md
docs*
.pai*